header{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.search .input{
    font-size: 18px;
    width: 2%;
    height: 50px;
    position: relative;
    border: none;
    transition: width 0.3s ease;
    
}
.search .btn{
    position: absolute;
    top: 50px;
    left: 45%;
    transition: transform 0.3s ease;
    cursor: pointer;
    
}
.search.active .input{
    width: 200px;
}
.search.active .btn{
    transform: translateX(200px);
}

header button{
    background-color: gold;
    color:rgb(73, 19, 235);
    width: 100px;
    height: 50px;
    border-radius: 50px;
    font-size: large;
    font-weight: 500; 
}
.top{
    display: flex;
    display: inline;
    justify-content: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.top h2{
    font-size: 40px;
    font-weight: 900px;
}
.top p{
    font-size: 30px;
    font-weight: 500;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:40px ;
}
.mid-top{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}
.mid-mid{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: -40px;
    background-color: rgb(169, 206, 233);
    height: 400px;
}
.mid-mid p{
    width: 700px;
    font-size: xx-large;
}
.mid-mid h2{
    font-size: xx-large;
}
.base-part{
    display: flex;
    /* justify-content: center; */
    align-items: top;
    justify-content: space-evenly;
}
.base1,.base2, .base3 {
    width: 28%;
    margin: 0px 20px;
    border: 4px solid black;
    padding: 20px;
    background-color: indigo;
    color: white;
    font-size: larger;
    
}
.fa-brands {
    font-size: 50px;
    padding: 50px;
    
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   

.container{
    background-image: linear-gradient(180deg,rgb(10, 10, 200),rgb(116, 116, 239));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h2{
    color: white;
}
.joke{
    background-color: white;
    width: 70vh;
    height: 150px;
    font-family: 'Times New Roman', Times, serif new roman;
    font-size: 30px;
    padding: 40px;
    font-weight: 900;
}
.btn{
    font-size: x-large;
    padding: 10px;
    border-radius: 30px;
    background-color: crimson;
    color: whitesmoke;
    margin: 10px;

}


/*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro{
    width: 1200px;
    float:left top;
    text-indent: 150px; 
    
}
.img {
display: flex;
justify-content: center;
}

.intro {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    bottom: 8px;
    left: 16px;
    color: white;
}

.project {
    font-size: 40px;
}

.project1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("project1-Background.png"); 
    background-color: azure;
    color: black;
}

.project-title {
    font-weight: 700;
}

.foot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(30, 8, 97);
}

.Skills {
    font-size: 45px;
    display: inline;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logo1 {

    padding: 20px;
}

.img {
    width: 60%;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 0px 3px gray;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}

.nav {
    text-align: center;
    margin-top: 15px;
}

.nav button {
    font-size: 25px;
    padding: 5px;
}

* {
    box-sizing: border-box
}

/* Slideshow container 
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default 
.mySlides {
    display: none;
}

/* Next & previous buttons 
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right 
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through 
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text 
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) 
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators 
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* .active, 
.dot:hover {
    background-color: #717171;
}

/* Fading animation 
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.form-info{
    width: 20px;
     height: 20px;
}
.bin{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    margin: 0;
    overflow: hidden;
}

.certificate{
    width: 80vh;
    display: flex;
   
}
.panel{
    height: 70vh;
    margin: 10px;
    display: flex;
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black;
    border-radius: 50px;
    flex: 0.5;
    position: relative;
    cursor: pointer;
    transition: flex 0.7s ease-in;
}
.panel h2{
    position: absolute;
    bottom: 10px;
    left: 10px;
    opacity: 0;
}
.panel.active{
    flex: 40;
    height: 600px;
    width: 600px;
}
.panel.active h2{
    opacity: 1;
}
@media(max-width:700px){
    .certificate{
        width: 100vh;
    }
    .panel :nth-last-of-type(3),
    .panel :nth-last-of-type(4){
        display: none;
    }
} */